[DEFAULT]
DefaultApplVerID=FIX.4.4
ConnectionType=initiator
FileLogPath=./files/logs/
ReconnectInterval=60
LogoutTimeout=5
LogonTimeout=30
# -----------------------------------------------------------------------------
#
# IMPORTANTE: A B3 fortemente recomenda a seus clientes que não reinicializem o
# número de seqüência no processo de logon (tag 141=Y). No caso de uma
# desconexão, se o cliente reinicializar seu número de seqüência, provavelmente
# haverá perda de mensagens enviadas por aquela sessão enquanto esta estava
# desconectada.
#
ResetOnLogon=N
ResetOnLogout=N
ResetOnDisconnect=N
#
# A reinicialização do número de sequência FIX das sessões deverá ocorrer todos
# os dias às 05:55am UTC, no qual o número de sequência para entrada e saída
# (NextInboundSeq e NextOutboundSeq), de mensagens FIX, deverá ser definido
# para o valor 1.
#
# As sessões FIX estarão disponíveis:
# - De segunda a sexta das 05:00 às 23:59hrs e da 00:00 à 01:00 (horário local,
# em formato 24h)
# - De sábado da 00:00 à 01:00 (horário local, em formato 24h).
#
# OBS:
# SÓ OPERAMOS ENTRE 09:00 E 18:00 (AMBOS HORÁRIO LOCAL), ENTÃO PODEMOS MANTER
# ESTES HORÁRIOS DE INÍCIO E FIM.
# - 09:00 LOCAL -> 12:00 UTC
# - 18:00 LOCAL -> 21:00 UTC
StartTime=12:00:00
LogonTime=12:00:00
LogonDay=monday
EndTime=23:00:00
LogoutTime=23:00:00
LogoutDay=friday
# -----------------------------------------------------------------------------
SendRedundantResendRequests=Y
SocketNodelay=N
UseDataDictionary=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
# -----------------------------------------------------------------------------
HttpAcceptPort=5555
# -----------------------------------------------------------------------------
# Store
PostgreSQLStoreDatabase=quickfix
PostgreSQLStoreUser=quickfix
PostgreSQLStorePassword=$DB_QUICKFIX_PASS
PostgreSQLStoreHost=$DB_HOST
PostgreSQLStorePort=$DB_PORT
PostgreSQLStoreUseConnectionPool=N
# Log
PostgreSQLLogDatabase=quickfix
PostgreSQLLogUser=quickfix
PostgreSQLLogPassword=$DB_QUICKFIX_PASS
PostgreSQLLogHost=$DB_HOST
PostgreSQLLogPort=$DB_PORT
PostgreSQLLogUseConnectionPool=N
# -----------------------------------------------------------------------------

# Sessão Order Entry
[SESSION]
BeginString=FIX.4.4
SenderCompID=$FIX_SESSAO_ORDER_ENTRY_SENDER_COMPID
TargetCompID=$FIX_SESSAO_ORDER_ENTRY_TARGET_COMPID
HeartBtInt=30
SocketConnectPort=$FIX_SESSAO_ORDER_ENTRY_PORT
SocketConnectHost=$FIX_SESSAO_ORDER_ENTRY_ADDRESS
DataDictionary=./config/fix/spec/FIX44_OrderEntry.xml
# FileStorePath=./files/sessions/
SSLProtocol=TLSv1_2
SSLCipherSuite=HIGH:!RC4
ClientCertificateFile=./files/chaves/fix/cert.pem
ClientCertificateKeyFile=./files/chaves/fix/key.pem